* {
    font-family: sans-serif;
}

#contact-header {
    background: url(ballina_contact.jpg);
    background-size: cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}

#contact-header h1 {
    font-weight: 600;
    color: #fff0ce;
    margin-bottom: 150px;
    font-size: 30px;
}

#contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
}

#map-container {
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}

#map-container h2 {
    font-size: 24px;
    color: #0c356a;
}

