@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --container-color:rgb(27, 27, 27);
    --text-color: rgb(12, 53, 106);
    --second-color:rgb(255, 196, 54);
    --bg-color:rgb(255, 255, 255);
}
*{
    font-family: "Montserrat", sans-serif;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
/*Dizajnimi i section*/
section{
    padding: 20px 20px 0 20px;
}
.news-home{
    width: 100%;
    min-height: 440px; 
    background-image: url(fotot/bg-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    justify-content: center;
    align-items: center;
}
.news-text{
    color: var(--bg-color);
    text-align: center;
}
.news-titulli{
    font-size: 45px;
}
.news-nentitulli{
    font-size: 18px;
    font-weight: 400;
}
/*Dizajnimi i post filterit*/
.post-filter{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    margin-top: 20px;
}
.filter-item{
    cursor: pointer;
}
.active-filter{
    background: var(--second-color);
    color: var(--bg-color);
    padding: 4px 10px;
    border-radius: 4px;
}

/*Post*/
.postet{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,auto));
    justify-content: center;
    gap: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.post-box{
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15%/10%);
    padding: 15px;
    border-radius: 10px;
}
.post-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.kategoria{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}
.post-titulli{
    font-size: 23px;
    font-weight: 600;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.post-date{
    display: flex;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}
.post-pershkrimi{
    font-size: 14px;
    line-height: 20px;
    margin: 5px 0 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}